body {
    font-family: Arial, sans-serif, ;
    background-color: rgb(211, 181, 208);
    margin: 0;
    padding: 20px; 
}
h1{
    color: #f6f1f1;
    text-align: center;
    background-color: #565356;
    border-radius: 15px;
}

h2{
    font-size: 30px;
    color: #f15252;
    text-align: center;
    background-color: #fff;
    border-radius: 13px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(200, 80, 80);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
}

label{
    text-align: left;
    color: black;

}

.container{
   justify-content: center;
   align-items: center;
   gap: 5px;
   flex-wrap: wrap;
   max-width: 800px;
   margin: 10px auto;
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 1px 10px rgba(219, 109, 109, 0.5);
   font-size: 32px;
}
.boton {
    display: inline-block;
    padding: 7px 20px;
    background-color: #ec52f1;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.9s ease-in-out;
    
}
.boton:hover {
    background-color:blueviolet;
    padding: 10px 20px;
}
/* estilos para los formularios */
input {
    width: 90%;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#resp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
  }

 #resp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

 #resp10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color: rgb(153, 94, 177);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
 } 

.botones{
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-bottom: 5px;
   
}
.ocultar{
 visibility: visible;
}


  

